$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;


$header-footer-color: #FFFAF0;
$navigation-color:#778899;
$section-height: 500px;
$footer-color:#008080;
$footer-word-size:2.0rem;

$yellow: #FFFF00;
$white: #FFFFFF;
